<div class="createPage">
    <h2>Add photo</h2>
    {{#with userInput}}
    <form action="/create" method="post">
        <p>
            <input type="text" name="name" value="{{name}}" placeholder="Name">
        </p>

        <p>
            <input type="number" name="age" value="{{age}}" placeholder="Age">
        </p>

        <p>
            <textarea type="text" name="description" placeholder="Description">{{description}}</textarea>
        </p>

        <p>
            <input type="text" name="location" value="{{location}}" placeholder="Location">
        </p>

        <p>
            <input type="text" name="imageUrl" value="{{imageUrl}}" placeholder="Link to image">
        </p>

        <button class="add-btn" type="submit">Add Photo</button>
    </form>
    {{/with}}
</div>