<div class="editPage">
    <h2>Edit photo</h2>
    {{#with photoDetails}}
    <form action="/edit/{{_id}}" method="post">
        <p>
            <input type="text" name="name" value="{{name}}" placeholder="Name">
        </p>

        <p>
            <input type="number" name="age" value="{{age}}" placeholder="Age">
        </p>

        <p>
            <textarea type="text" name="description" placeholder="Description">{{description}}</textarea>
        </p>

        <p>
            <input type="text" name="location" value="{{location}}" placeholder="Location">
        </p>

        <p>
            <input type="text" name="imageUrl" value="{{imageUrl}}" placeholder="Link to image">
        </p>
        <button class="edit-btn" type="submit">Edit Photo</button>
    </form>
    {{/with}}
</div>