
<main>
    <section id="catalog-section">

        <h1 class="item">{{auctions.title}}</h1>
        <div class="item padded">

            <div class="layout right large">

                <div class="col">
                    <img src="{{auctions.imageUrl}}" class="img-large">
                </div>

                <div class="content pad-med">

                    <p>In category: <strong>{{auctions.category}}</strong></p>
                    <p>{{auctions.description}}</p>

                    <div class="align-center">
                        <div>
                            Current price: $<strong>{{auctions.price}}</strong>
                        </div>
                    {{#if user}}
                        <!-- If current user is the bidder -->
                        {{#if auctions.highestBidder}}
                            <div>
                                You are currently the <strong>highest bidder</strong> for this auction
                            </div>
                        {{else}}
                        <!-- If current user can place a bid -->
                            <form class="vertical" method="post">
                                <label><span>Bid amount</span><input type="number" name="amount"></label>
                                <input class="action" type="submit" value="Place bid">
                            </form>
                        {{/if}}
                    {{/if}}
                    </div>

                </div>
            </div>

            <footer>Listed by {{auctions.author.firstName}} {{auctions.author.lastName}}</footer>
        </div>

    </section>
</main>